In [1]:
import pandas as pd
title = pd.read_csv('title.akas.tsv', sep='\t')
crew = pd.read_csv('title.crew.tsv', sep='\t')
ratings = pd.read_csv('title.ratings.tsv', sep='\t')
basics = pd.read_csv('title.basics.tsv', sep='\t')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_25508\1297374068.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('title.basics.tsv', sep='\t')

In [19]:
crew = crew.rename(columns={'tconst': 'titleId'})
crew= crew.drop('writers', axis = 1)
ratings = ratings.rename(columns={'tconst': 'titleId'})

            titleId            directors
0         tt0000001            nm0005690
1         tt0000002            nm0721526
2         tt0000003            nm0721526
3         tt0000004            nm0721526
4         tt0000005            nm0005690
...             ...                  ...
10237471  tt9916848            nm1485677
10237472  tt9916850            nm1485677
10237473  tt9916852            nm1485677
10237474  tt9916856           nm10538645
10237475  tt9916880  nm0584014,nm0996406

[10237476 rows x 2 columns]

In [12]:
def find_movie_regions(title,ratings):
    rated_titles = title[title['titleId'].isin(ratings['titleId'])]
    rated_titles_1 = rated_titles[rated_titles['isOriginalTitle'] == 1]
    rated_titles_0 = rated_titles[rated_titles['isOriginalTitle'] == 0]
    merged = pd.merge(rated_titles_1.loc[:, rated_titles_1.columns != 'region'],rated_titles_0[['title','titleId','region']],'inner',on = ['title','titleId'])
    merged_list = merged.groupby(['titleId','title'])['region'].apply(list).reset_index(name='region_list')
    return(merged_list)
############
titles_with_region = find_movie_regions(title,ratings)

In [13]:
from collections import Counter

def most_frequent_region(lst):
    if not lst:
        return None  # Return None for empty lists
    
    count = Counter(lst)
    most_common = count.most_common()
    
    # Check if there's a single most frequent region
    if len(most_common) > 1 and most_common[0][1] == most_common[1][1]:
        return 'International'
    return most_common[0][0]


def decide_region(df):
    for i in range(df.shape[0]):
        region_list = df.at[i, 'region_list']  # Access the region_list
        
        if len(region_list) == 1:
            df.at[i, 'region_list'] = df.at[i, 'region_list'][0]
        else:
            df.at[i, 'region_list'] = most_frequent_region(region_list)
    return(df)
############
titles_with_region = decide_region(titles_with_region)
titles_with_region

          titleId                   title    region_list
0       tt0000001              Carmencita  International
1       tt0000002  Le clown et ses chiens             FR
2       tt0000003          Pauvre Pierrot             FR
3       tt0000004             Un bon bock             FR
4       tt0000005        Blacksmith Scene  International
...           ...                     ...            ...
917778  tt9916362                Akelarre             ES
917779  tt9916380     Meie aasta Aafrikas             EE
917780  tt9916538     Kuambil Lagi Hatiku             ID
917781  tt9916544         My Sweet Prince             GB
917782  tt9916706         Dankyavar Danka             IN

[917783 rows x 3 columns]

In [14]:
import pycountry
# Mapping country codes to country names
country_names = {code: pycountry.countries.get(alpha_2=code).name for code in titles_with_region['region_list'].unique() if code in [country.alpha_2 for country in pycountry.countries]}

def get_country_name(region_code):
    try:
        return pycountry.countries.get(alpha_2=region_code).name
    except (AttributeError, LookupError):
        return 'International'

titles_with_region['country_name'] = titles_with_region['region_list'].apply(get_country_name)

titles_with_region

          titleId                   title    region_list    country_name
0       tt0000001              Carmencita  International   International
1       tt0000002  Le clown et ses chiens             FR          France
2       tt0000003          Pauvre Pierrot             FR          France
3       tt0000004             Un bon bock             FR          France
4       tt0000005        Blacksmith Scene  International   International
...           ...                     ...            ...             ...
917778  tt9916362                Akelarre             ES           Spain
917779  tt9916380     Meie aasta Aafrikas             EE         Estonia
917780  tt9916538     Kuambil Lagi Hatiku             ID       Indonesia
917781  tt9916544         My Sweet Prince             GB  United Kingdom
917782  tt9916706         Dankyavar Danka             IN           India

[917783 rows x 4 columns]

In [22]:
ratings = ratings.rename(columns={'tconst': 'titleId'})

           titleId  averageRating  numVotes
0        tt0000001            5.7      2059
1        tt0000002            5.6       278
2        tt0000003            6.5      2028
3        tt0000004            5.4       179
4        tt0000005            6.2      2793
...            ...            ...       ...
1450930  tt9916730            7.0        12
1450931  tt9916766            7.1        23
1450932  tt9916778            7.2        37
1450933  tt9916840            7.2        10
1450934  tt9916880            8.6         8

[1450935 rows x 3 columns]

In [29]:
def add_GDP_with_rank(GDPs_file):
    try:
        GDP = pd.read_csv(GDPs_file, encoding='utf-8')
    except UnicodeDecodeError:
        try:
            GDP = pd.read_csv(GDPs_file, encoding='ISO-8859-1')
        except UnicodeDecodeError:
            GDP = pd.read_csv(GDPs_file, encoding='latin1', errors='replace')
    
    GDP['GDP(US$million)'] = GDP['GDP(US$million)'].str.replace(',', '').astype(float)
    
    GDP['rank_gdp'] = GDP.index + 1
    GDP = GDP.drop(columns=['Rank'])
    return(GDP)
    
import pypopulation
#pypopulation.get_population('MM')
def get_population(region_code):
    try:
        population = pypopulation.get_population(region_code)
        return population if population is not None else 'Unknown'
    except Exception as e:
        return 'Unknown'

def GDP_per_capita(df):
    df['GDP/Population'] = df.apply(
        lambda row: row['GDP(US$million)'] / row['Population'] 
        if row['GDP(US$million)'] != 'Unknown' and row['Population'] != 'Unknown'
        else 'Unknown', axis=1)
    return(df)
def add_votes_CDF(df):
    sorted_votes = df.sort_values(by = 'numVotes')
    df['CDF_votes'] = sorted_votes['numVotes'].rank(method='average', pct=True)
    return(df)

def add_population_rank(df):
    # Replace 'Unknown' with NaN to handle them properly
    df['Population'] = df['Population'].replace('Unknown', pd.NA)
    
    # Convert the column to numeric, keeping NaNs
    df['Population'] = pd.to_numeric(df['Population'], errors='coerce')
    
    # Rank the population in descending order (largest population gets rank 1)
    df['Population_rank'] = df['Population'].rank(method='dense', ascending=False).astype('Int64')
    
    # Assign rank 100 to 'Unknown' populations
    df['Population_rank'] = df['Population_rank'].fillna(30).astype(int)
    
    # Replace NaNs back with 'Unknown'
    df['Population'] = df['Population'].fillna('Unknown')
    
    return df
    
def add_GDPperCapita_rank(df):
    # Replace 'Unknown' with NaN to handle them properly
    df['GDP/Population'] = df['GDP/Population'].replace('Unknown', pd.NA)
    
    # Convert the column to numeric, keeping NaNs
    df['GDP/Population'] = pd.to_numeric(df['GDP/Population'], errors='coerce')
    
    # Rank the GDP/Population in descending order (largest GDP/Population gets rank 1)
    df['GDP_per_Capita_rank'] = df['GDP/Population'].rank(method='dense', ascending=False).astype('Int64')
    
    # Assign rank 100 to 'Unknown' GDP/Population
    df['GDP_per_Capita_rank'] = df['GDP_per_Capita_rank'].fillna(30).astype(int)
    
    # Replace NaNs back with 'Unknown'
    df['GDP/Population'] = df['GDP/Population'].fillna('Unknown')
    
    return df

def add_movie_count_per_country_rank(df):
    sorted_votes = df.sort_values(by = 'numVotes')
    country_movie_count = sorted_votes['country_name'].value_counts().reset_index()
    country_movie_count.columns = ['country_name', 'movie_count']
    country_movie_count['rank_movie_count'] = country_movie_count['movie_count'].rank(ascending=False, method='min').astype(int)
    df = df.merge(country_movie_count, left_on='country_name', right_on='country_name', how='left')
    return(df)

GDP = add_GDP_with_rank('GDPs.csv')
Ratings_df = titles_with_region.merge(GDP, left_on='country_name', right_on='Country/Territory', how='left')
Ratings_df['GDP(US$million)'].fillna('Unknown', inplace=True)
Ratings_df['rank_gdp'].fillna(30, inplace=True)
Ratings_df = pd.merge(Ratings_df, ratings, on='titleId')
Ratings_df = pd.merge(Ratings_df, crew, on = 'titleId')
Ratings_df = Ratings_df.drop(columns=['Country/Territory'])
Ratings_df = add_votes_CDF(Ratings_df)
Ratings_df['Population'] = Ratings_df['region_list'].apply(get_population)
Ratings_df = GDP_per_capita(Ratings_df)
Ratings_df = add_population_rank(Ratings_df)
Ratings_df = add_GDPperCapita_rank(Ratings_df)
Ratings_df = add_movie_count_per_country_rank(Ratings_df)
Ratings_df

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_25508\4020122051.py:82: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Ratings_df['GDP(US$million)'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_25508\4020122051.py:82: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  Ratings_df['GDP(US$million)'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_25508\4020122051.py:83: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Ratings_df['rank_gdp'].fillna(30, inplace=True)

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes,Population,GDP/Population,Population_rank,GDP_per_Capita_rank,movie_count,rank_movie_count
0,tt0000001,Carmencita,International,International,Unknown,30.0,5.7,2059,nm0005690,0.946369,Unknown,Unknown,30,30,177233,2
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0,5.6,278,nm0721526,0.811674,67059887.0,0.040494,21,25,29620,7
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0,6.5,2028,nm0721526,0.945771,67059887.0,0.040494,21,25,29620,7
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0,5.4,179,nm0721526,0.763482,67059887.0,0.040494,21,25,29620,7
4,tt0000005,Blacksmith Scene,International,International,Unknown,30.0,6.2,2793,nm0005690,0.956933,Unknown,Unknown,30,30,177233,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912980,tt9916362,Akelarre,ES,Spain,1394116.0,13.0,6.4,5840,nm1893148,0.976024,47076781.0,0.029614,30,31,13147,11
912981,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0,8.2,119,nm1857733,0.708184,1326590.0,0.02366,152,34,617,54
912982,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0,8.3,9,nm4457074,0.128415,270625568.0,0.004136,4,106,1864,36
912983,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0,6.7,72,nm3219235,0.628877,66834405.0,0.0423,22,22,71256,3
912984,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0,7.6,5,nm7764440,0.008759,1366417754.0,0.002104,2,126,37578,5

In [34]:
#Task 1 - top movies based on avg ratings
def rank_top_movies(df, X):
    # Group by 'Country' and sort each group by 'averageRating' descending
    ranked_df = df.sort_values(by='averageRating', ascending=False).groupby('country_name').head(X)
    
    # Calculate average rating for top X movies for each country
    avg_ratings = ranked_df.groupby('country_name')['averageRating'].mean()
    
    # Create DataFrame with results
    result_df = pd.DataFrame({'country_name': avg_ratings.index, f'AvgRating_Top_Movies': avg_ratings.values})
    
    return result_df
rank_top_movies(Ratings_df,250).sort_values(by ='AvgRating_Top_Movies',ascending = False)

#Task 2 - weighted ranking
def weighted_ranking(df):
    # Compute the weighted rating using the correct column access method
    df['Weighted_rating'] = (
        df['averageRating']**2 *
        (10 + df['rank_gdp'])**(1/2) *
        df['rank_movie_count']**(1/2) *
        df['CDF_votes'] *
        df['Population_rank']**(1/2) *
        df['GDP_per_Capita_rank']**(1/2)
    )
    return df

def cumulative_weighted_ratings(df):
    # First, calculate the weighted ratings
    df = weighted_ranking(df)
    
    # Group by country and sum the weighted ratings
    cumulative_df = df.groupby('country_name')['Weighted_rating'].sum().reset_index()
    
    # Sort the results by cumulative weighted rating in descending order
    cumulative_df = cumulative_df.sort_values(by='Weighted_rating', ascending=False)
    
    return cumulative_df

cumulative_ratings_df = cumulative_weighted_ratings(Ratings_df)
cumulative_ratings_df.head(50)

                  country_name  Weighted_rating
94               International     1.280954e+09
35                      Canada     2.451193e+08
205             United Kingdom     2.409726e+08
57                     Ecuador     1.957684e+08
90                     Hungary     1.651409e+08
47                     Croatia     1.603567e+08
92                       India     1.249509e+08
102                      Japan     1.224014e+08
174                     Serbia     1.208024e+08
68                      France     1.203781e+08
206              United States     1.171059e+08
67                     Finland     1.090939e+08
159                   Portugal     1.072905e+08
107         Korea, Republic of     1.059658e+08
187                     Sweden     1.004696e+08
162                    Romania     9.927779e+07
183                      Spain     9.888273e+07
8                    Argentina     9.378659e+07
53                     Denmark     9.338562e+07
11                   Australia     9.021965e+07
58                       Egypt     8.600308e+07
74                     Germany     8.459954e+07
100                      Italy     8.230139e+07
201                    Türkiye     7.684049e+07
25      Bosnia and Herzegovina     7.614861e+07
77                      Greece     7.276011e+07
141                New Zealand     7.270831e+07
139                Netherlands     7.196251e+07
157                Philippines     6.755497e+07
19                     Belgium     6.571170e+07
158                     Poland     6.521165e+07
73                     Georgia     6.422839e+07
62                     Estonia     6.148984e+07
130                     Mexico     5.859908e+07
12                     Austria     5.537272e+07
51                     Czechia     5.477073e+07
1                      Albania     5.280212e+07
27                      Brazil     4.910236e+07
99                      Israel     4.823254e+07
9                      Armenia     4.811240e+07
146            North Macedonia     4.807800e+07
39                       Chile     4.556632e+07
182               South Africa     4.533714e+07
179                   Slovenia     4.429288e+07
95   Iran, Islamic Republic of     4.346989e+07
112                    Lebanon     4.330313e+07
138                      Nepal     4.113086e+07
148                     Norway     4.104502e+07
117                  Lithuania     4.000115e+07
198                    Tunisia     3.847005e+07

In [87]:
#Task 3 - best director based on mean -  scaled variance
import numpy as np
def calculate_director_stats(df):
    # Drop rows where directors is '\N'
    df = df[df['directors'] != '\\N']
    # Group by the directors column and filter to include only those with at least 4 movies
    director_counts = df['directors'].value_counts()
    
    directors_with_at_least_4_movies = director_counts[director_counts >= 20].index
    df = df[df['directors'].isin(directors_with_at_least_4_movies)]
    
    
    # Get the top 10 movies for each director based on averageRating
    df['rank'] = df.groupby('directors')['averageRating'].rank("dense", ascending=False)
    top_movies = df[df['rank'] <= 20]
    
    # Initialize an empty list to collect director statistics
    director_stats_list = []
    
    # Iterate over each director and calculate mean and variance
    for director, group in top_movies.groupby('directors'):
        mean_rating = np.mean(group['averageRating'])
        var_rating = np.var(group['averageRating'], ddof=0)  # Use ddof=0 for population variance
        mean_rating *= np.mean(group['CDF_votes'])
        var_rating *= np.mean(group['CDF_votes'])
        # Append director statistics as a dictionary to the list
        director_stats_list.append({
            'directors': director,
            'mean_rating': mean_rating,
            'rating_variance': var_rating
        })
    
    # Create a DataFrame from the list of dictionaries
    director_stats_df = pd.DataFrame(director_stats_list)
    
    # Replace NaN variance with 6
    director_stats_df['rating_variance'].fillna(6, inplace=True)
    
    # Calculate the final Rating for each director
    director_stats_df['Rating'] = director_stats_df['mean_rating'] - director_stats_df['rating_variance']**(1/2)
    
    return director_stats_df


# Example usage
# Assuming Ratings_df is your DataFrame
director_stats_df = calculate_director_stats(Ratings_df)
director_stats_df.sort_values(by = 'Rating', ascending = False).head(15)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_25508\1095950900.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  director_stats_df['rating_variance'].fillna(6, inplace=True)

                directors  mean_rating  rating_variance    Rating
4764            nm1322753     8.484466         0.435242  7.824737
5166            nm2171633     8.321788         0.493382  7.619377
5485            nm4867429     7.944592         0.282209  7.413358
331             nm0005295     7.832831         0.190115  7.396809
5231            nm2441608     7.984683         0.430031  7.328916
4291            nm0923736     8.026789         0.494633  7.323487
2688            nm0528186     7.968487         0.419385  7.320888
852             nm0109159     7.839825         0.270775  7.319464
3428            nm0714114     7.907779         0.356074  7.311059
4638           nm11636776     7.737401         0.185409  7.306810
1176            nm0191147     7.923825         0.393409  7.296602
2711            nm0533713     7.919922         0.408960  7.280422
899   nm0122741,nm0637089     7.648478         0.141682  7.272071
4475            nm0994488     7.584858         0.100696  7.267531
4832            nm1417038     8.089420         0.693895  7.256417

In [85]:
Ratings_df[Ratings_df['directors']=='nm6440635']

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes,Population,GDP/Population,Population_rank,GDP_per_Capita_rank,movie_count,rank_movie_count,Weighted_rating
365260,tt10196142,Rahman 1400,International,International,Unknown,30.0,4.5,2907,nm6440635,0.958125,Unknown,Unknown,30,30,177233,2,5206.109787
388952,tt10940370,Khodahafez bache,IR,"Iran, Islamic Republic of",Unknown,30.0,2.6,155,nm6440635,0.745281,82913906.0,Unknown,19,30,4203,21,3486.129997
404026,tt11400108,Del,International,International,Unknown,30.0,2.0,1407,nm6440635,0.930036,Unknown,Unknown,30,30,177233,2,998.218894
474494,tt13802234,World hopeful,IR,"Iran, Islamic Republic of",Unknown,30.0,1.3,85,nm6440635,0.655746,82913906.0,Unknown,19,30,4203,21,766.830248
525318,tt15655120,The Blue Nissan,International,International,Unknown,30.0,4.3,957,nm6440635,0.909606,Unknown,Unknown,30,30,177233,2,4512.909945
673551,tt27694358,New Camp,CA,Canada,1736426.0,10.0,2.9,321,nm6440635,0.826372,37589262.0,0.046195,39,18,38082,4,1646.968483
678630,tt28200124,Tahe Khat,IR,"Iran, Islamic Republic of",Unknown,30.0,1.3,13,nm6440635,0.236911,82913906.0,Unknown,19,30,4203,21,277.043918
678636,tt28201619,Papoosh,IR,"Iran, Islamic Republic of",Unknown,30.0,1.0,9,nm6440635,0.128415,82913906.0,Unknown,19,30,4203,21,88.857265
678638,tt28201735,Zamen,IR,"Iran, Islamic Republic of",Unknown,30.0,1.0,16,nm6440635,0.298582,82913906.0,Unknown,19,30,4203,21,206.604643
683142,tt28670576,Bolandtarin Shabe Sal,IR,"Iran, Islamic Republic of",Unknown,30.0,1.0,6,nm6440635,0.031834,82913906.0,Unknown,19,30,4203,21,22.027683
683145,tt28670629,Ghafel,IR,"Iran, Islamic Republic of",Unknown,30.0,1.0,9,nm6440635,0.128415,82913906.0,Unknown,19,30,4203,21,88.857265
683149,tt28670689,Akharin Rooze Mah,IR,"Iran, Islamic Republic of",Unknown,30.0,1.4,9,nm6440635,0.128415,82913906.0,Unknown,19,30,4203,21,174.160240
685178,tt28959689,Eshtebah-e Mahz,IR,"Iran, Islamic Republic of",Unknown,30.0,1.0,7,nm6440635,0.062764,82913906.0,Unknown,19,30,4203,21,43.429717
685180,tt28959746,Gharare Ma in Nabood,IR,"Iran, Islamic Republic of",Unknown,30.0,1.0,7,nm6440635,0.062764,82913906.0,Unknown,19,30,4203,21,43.429717
693260,tt30003806,Hodoode 8 Sobh,International,International,Unknown,30.0,3.4,113,nm6440635,0.700562,Unknown,Unknown,30,30,177233,2,2173.056069
728963,tt3673948,Life Is Elsewhere,International,International,Unknown,30.0,5.4,324,nm6440635,0.827278,Unknown,Unknown,30,30,177233,2,6472.995391
731044,tt3718222,Yeki Mikhad Bahat Harf Bezane,IR,"Iran, Islamic Republic of",Unknown,30.0,5.5,292,nm6440635,0.816809,82913906.0,Unknown,19,30,4203,21,17097.123269
755355,tt4386296,Akharin Rooz-e Sal,IR,"Iran, Islamic Republic of",Unknown,30.0,1.5,85,nm6440635,0.655746,82913906.0,Unknown,19,30,4203,21,1020.927845
796298,tt5568330,I am not Salvador,IR,"Iran, Islamic Republic of",Unknown,30.0,3.7,1598,nm6440635,0.935946,82913906.0,Unknown,19,30,4203,21,8866.071531
806042,tt5817482,Khab-e Bad,IR,"Iran, Islamic Republic of",Unknown,30.0,1.7,85,nm6440635,0.655746,82913906.0,Unknown,19,30,4203,21,1311.325099
820900,tt6217938,Asheghaneh,International,International,Unknown,30.0,5.1,2662,nm6440635,0.955450,Unknown,Unknown,30,30,177233,2,6668.291187
865164,tt7762424,Gharantineh,IR,"Iran, Islamic Republic of",Unknown,30.0,3.9,198,nm6440635,0.775183,82913906.0,Unknown,19,30,4203,21,8158.498686
870507,tt7967312,Kargar sadeh niazmandim,IR,"Iran, Islamic Republic of",Unknown,30.0,5.3,346,nm6440635,0.833589,82913906.0,Unknown,19,30,4203,21,16202.448163
897044,tt9090390,Deldadegan,IR,"Iran, Islamic Republic of",Unknown,30.0,4.1,234,nm6440635,0.793512,82913906.0,Unknown,19,30,4203,21,9229.926681