In [1]:
import pandas as pd
title = pd.read_csv('title.akas.tsv', sep='\t')
crew = pd.read_csv('title.crew.tsv', sep='\t')
ratings = pd.read_csv('title.ratings.tsv', sep='\t')
basics = pd.read_csv('title.basics.tsv', sep='\t')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_31028\1297374068.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('title.basics.tsv', sep='\t')

In [6]:
crew.drop(columns=['writers'])

             tconst            directors
0         tt0000001            nm0005690
1         tt0000002            nm0721526
2         tt0000003            nm0721526
3         tt0000004            nm0721526
4         tt0000005            nm0005690
...             ...                  ...
10237471  tt9916848            nm1485677
10237472  tt9916850            nm1485677
10237473  tt9916852            nm1485677
10237474  tt9916856           nm10538645
10237475  tt9916880  nm0584014,nm0996406

[10237476 rows x 2 columns]

In [5]:
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2059
1        tt0000002            5.6       278
2        tt0000003            6.5      2028
3        tt0000004            5.4       179
4        tt0000005            6.2      2793
...            ...            ...       ...
1450930  tt9916730            7.0        12
1450931  tt9916766            7.1        23
1450932  tt9916778            7.2        37
1450933  tt9916840            7.2        10
1450934  tt9916880            8.6         8

[1450935 rows x 3 columns]

In [ ]:
## originals = title[title['isOriginalTitle']==1]
set(originals['region'])
#Chcemy znalezc originaltitle = 1, a następnie znaleźć kolejny wiersz o tym samym tytule co original i wtedy sprawdzić region. Co jeśli nie da się?

In [9]:
#Wyrzucamy te filmy, które nie zostały w ogóle ocenione
rated_titles = title[title['titleId'].isin(ratings['tconst'])]
rated_titles_1 = rated_titles[rated_titles['isOriginalTitle'] == 1]
rated_titles_0 = rated_titles[rated_titles['isOriginalTitle'] == 0]

,titleId_x,ordering_x,title,region_x,language_x,types_x,attributes_x,isOriginalTitle_x,titleId_y,ordering_y,region_y,language_y,types_y,attributes_y,isOriginalTitle_y
0,tt0000001,1,Carmencita,\N,\N,original,\N,1,tt0000001,2.0,DE,\N,\N,literal title,0.0
1,tt0000001,1,Carmencita,\N,\N,original,\N,1,tt0000001,3.0,US,\N,imdbDisplay,\N,0.0
2,tt0000001,1,Carmencita,\N,\N,original,\N,1,tt0021748,5.0,IT,\N,imdbDisplay,\N,0.0
3,tt0000001,1,Carmencita,\N,\N,original,\N,1,tt0028162,3.0,IT,\N,imdbDisplay,\N,0.0
4,tt0000001,1,Carmencita,\N,\N,original,\N,1,tt0453643,2.0,DE,\N,imdbDisplay,\N,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10498601,tt9916778,1,Escape,\N,\N,original,\N,1,tt7837414,5.0,XWW,en,imdbDisplay,\N,0.0
10498602,tt9916778,1,Escape,\N,\N,original,\N,1,tt8485468,2.0,MM,\N,imdbDisplay,\N,0.0
10498603,tt9916778,1,Escape,\N,\N,original,\N,1,tt9271534,2.0,GB,\N,\N,\N,0.0
10498604,tt9916840,1,Horrid Henry's Comic Caper,\N,\N,original,\N,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10498605,tt9916880,1,Horrid Henry Knows It All,\N,\N,original,\N,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
merged = pd.merge(rated_titles_1.loc[:, rated_titles_1.columns != 'region'],rated_titles_0[['title','titleId','region']],'inner',on = ['title','titleId'])
merged.groupby('title')['region'].apply(list)

title
#                                  [US, US, US, BR]
# My Ass                                       [US]
#1                             [US, US, US, US, BE]
#1 Beauty Nail Salon                           [US]
#1 Cheerleader Camp                        [AU, US]
                                       ...
êmîcêtôsêt: Many Bloodlines                    [CA]
ôkamiotoko kurîmu                              [JP]
ôotoko ga deta zo                              [JP]
ôrumaiti pasu                                  [JP]
ö                                              [FI]
Name: region, Length: 753986, dtype: object

In [61]:
merged_list = merged.groupby(['titleId','title'])['region'].apply(list).reset_index(name='region_list')
merged_list

          titleId                   title       region_list
0       tt0000001              Carmencita          [DE, US]
1       tt0000002  Le clown et ses chiens              [FR]
2       tt0000003          Pauvre Pierrot              [FR]
3       tt0000004             Un bon bock              [FR]
4       tt0000005        Blacksmith Scene          [CA, US]
...           ...                     ...               ...
917778  tt9916362                Akelarre  [MX, AR, ES, ES]
917779  tt9916380     Meie aasta Aafrikas              [EE]
917780  tt9916538     Kuambil Lagi Hatiku              [ID]
917781  tt9916544         My Sweet Prince              [GB]
917782  tt9916706         Dankyavar Danka              [IN]

[917783 rows x 3 columns]

In [62]:
from collections import Counter

def most_frequent_region(lst):
    if not lst:
        return None  # Return None for empty lists
    
    count = Counter(lst)
    most_common = count.most_common()
    
    # Check if there's a single most frequent region
    if len(most_common) > 1 and most_common[0][1] == most_common[1][1]:
        return 'International'
    return most_common[0][0]


def decide_region(df):
    for i in range(df.shape[0]):
        region_list = df.at[i, 'region_list']  # Access the region_list
        
        if len(region_list) == 1:
            df.at[i, 'region_list'] = df.at[i, 'region_list'][0]
        else:
            df.at[i, 'region_list'] = most_frequent_region(region_list)
    return(df)
titles_with_region = decide_region(merged_list)

In [72]:
import pycountry
# Mapping country codes to country names
country_names = {code: pycountry.countries.get(alpha_2=code).name for code in titles_with_region['region_list'].unique() if code in [country.alpha_2 for country in pycountry.countries]}

def get_country_name(region_code):
    try:
        return pycountry.countries.get(alpha_2=region_code).name
    except (AttributeError, LookupError):
        return 'International'

# Apply the function to create a new column 'country_name'
titles_with_region['country_name'] = titles_with_region['region_list'].apply(get_country_name)

print(titles_with_region)

          titleId                   title    region_list    country_name
0       tt0000001              Carmencita  International   International
1       tt0000002  Le clown et ses chiens             FR          France
2       tt0000003          Pauvre Pierrot             FR          France
3       tt0000004             Un bon bock             FR          France
4       tt0000005        Blacksmith Scene  International   International
...           ...                     ...            ...             ...
917778  tt9916362                Akelarre             ES           Spain
917779  tt9916380     Meie aasta Aafrikas             EE         Estonia
917780  tt9916538     Kuambil Lagi Hatiku             ID       Indonesia
917781  tt9916544         My Sweet Prince             GB  United Kingdom
917782  tt9916706         Dankyavar Danka             IN           India

[917783 rows x 4 columns]

In [73]:
titles_with_region[titles_with_region['country_name']=='International'].shape[0]

177649

In [22]:
merged_list[merged_list['title'] == 'Carmencita']

             title    titleId region_list
133743  Carmencita  tt0000001    [DE, US]
133744  Carmencita  tt0453643        [DE]

In [42]:

#chcemy teraz usunąć 'nieoryginały' - dla titleId szukamy z jakiego jest regionu i wrzucamy region do OrigTitle = 1
import numpy as np
non_originals = []
none_region = []
IDs = rated_titles['titleId'].unique()
for ID in IDs:
    # Filter for the original title with isOriginalTitle == 1
    original_title = rated_titles[(rated_titles['titleId'] == ID) & (rated_titles['isOriginalTitle'] == 1)]
    if original_title.empty:
        non_originals.append(ID)
    if not original_title.empty:
        # Extract the title name from the original_title DataFrame
        original_title_name = original_title['title'].iloc[0]

        # Filter rated_titles to find regions for this title and titleId
        regions_for_title = rated_titles[(rated_titles['title'] == original_title_name) & (rated_titles['titleId'] == ID)]['region']
        if regions_for_title.empty:
            none_region.append(ID)
        if not regions_for_title.empty:
            # Combine regions into a single string excluding '\N'
            combined_regions = ', '.join(regions_for_title[regions_for_title != '\\N'])

            # Assign combined regions to the 'OriginalRegion' column for the current titleId
            rated_titles.loc[rated_titles['titleId'] == ID, 'OriginalRegion'] = combined_regions
print(len(non_originals), non_originals)
print(len(none_region), none_region)
print(rated_titles)
#for ID in IDs:
#    original_title = rated_titles[(rated_titles['titleId'] == ID) & (rated_titles['isOriginalTitle'] == 1)]
#    if len(original_title['title'])==0:
#        print(ID)
    #regions_for_title = rated_titles[(rated_titles['title'] == original_title['title'][0]) & (rated_titles['titleId'] == ID)]['region']
    #regions_for_title = ', '.join(regions_for_title[regions_for_title != '\\N'])
    #rated_titles.loc[rated_titles['titleId'] == ID, 'OriginalRegion'] = combined_regions

KeyboardInterrupt:

In [20]:
rated_titles[rated_titles['title']=='#']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
24659774,tt21091602,1,#,\N,\N,original,\N,1
24659775,tt21091602,2,#,US,\N,\N,\N,0
27733064,tt2399574,1,#,\N,\N,original,\N,1
27733065,tt2399574,2,#,US,\N,imdbDisplay,\N,0
36960691,tt3762918,1,#,\N,\N,original,\N,1
36960692,tt3762918,2,#,US,\N,imdbDisplay,\N,0
42209549,tt6748908,1,#,\N,\N,original,\N,1
42209550,tt6748908,2,#,BR,\N,imdbDisplay,\N,0