In [1]:
import pandas as pd
title = pd.read_csv('title.akas.tsv', sep='\t')
crew = pd.read_csv('title.crew.tsv', sep='\t')
ratings = pd.read_csv('title.ratings.tsv', sep='\t')
basics = pd.read_csv('title.basics.tsv', sep='\t')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\1297374068.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('title.basics.tsv', sep='\t')

In [47]:

crew = crew.rename(columns={'tconst': 'titleId'})
crew

            titleId            directors
0         tt0000001            nm0005690
1         tt0000002            nm0721526
2         tt0000003            nm0721526
3         tt0000004            nm0721526
4         tt0000005            nm0005690
...             ...                  ...
10237471  tt9916848            nm1485677
10237472  tt9916850            nm1485677
10237473  tt9916852            nm1485677
10237474  tt9916856           nm10538645
10237475  tt9916880  nm0584014,nm0996406

[10237476 rows x 2 columns]

In [48]:
ratings = ratings.rename(columns={'tconst': 'titleId'})
ratings

           titleId  averageRating  numVotes
0        tt0000001            5.7      2059
1        tt0000002            5.6       278
2        tt0000003            6.5      2028
3        tt0000004            5.4       179
4        tt0000005            6.2      2793
...            ...            ...       ...
1450930  tt9916730            7.0        12
1450931  tt9916766            7.1        23
1450932  tt9916778            7.2        37
1450933  tt9916840            7.2        10
1450934  tt9916880            8.6         8

[1450935 rows x 3 columns]

In [ ]:
## originals = title[title['isOriginalTitle']==1]
set(originals['region'])
#Chcemy znalezc originaltitle = 1, a następnie znaleźć kolejny wiersz o tym samym tytule co original i wtedy sprawdzić region. Co jeśli nie da się?

In [2]:
#Wyrzucamy te filmy, które nie zostały w ogóle ocenione
rated_titles = title[title['titleId'].isin(ratings['tconst'])]
rated_titles_1 = rated_titles[rated_titles['isOriginalTitle'] == 1]
rated_titles_0 = rated_titles[rated_titles['isOriginalTitle'] == 0]

In [3]:
merged = pd.merge(rated_titles_1.loc[:, rated_titles_1.columns != 'region'],rated_titles_0[['title','titleId','region']],'inner',on = ['title','titleId'])
merged.groupby('title')['region'].apply(list)

title
#                                  [US, US, US, BR]
# My Ass                                       [US]
#1                             [US, US, US, US, BE]
#1 Beauty Nail Salon                           [US]
#1 Cheerleader Camp                        [AU, US]
                                       ...
êmîcêtôsêt: Many Bloodlines                    [CA]
ôkamiotoko kurîmu                              [JP]
ôotoko ga deta zo                              [JP]
ôrumaiti pasu                                  [JP]
ö                                              [FI]
Name: region, Length: 753986, dtype: object

In [4]:
merged_list = merged.groupby(['titleId','title'])['region'].apply(list).reset_index(name='region_list')
merged_list

          titleId                   title       region_list
0       tt0000001              Carmencita          [DE, US]
1       tt0000002  Le clown et ses chiens              [FR]
2       tt0000003          Pauvre Pierrot              [FR]
3       tt0000004             Un bon bock              [FR]
4       tt0000005        Blacksmith Scene          [CA, US]
...           ...                     ...               ...
917778  tt9916362                Akelarre  [MX, AR, ES, ES]
917779  tt9916380     Meie aasta Aafrikas              [EE]
917780  tt9916538     Kuambil Lagi Hatiku              [ID]
917781  tt9916544         My Sweet Prince              [GB]
917782  tt9916706         Dankyavar Danka              [IN]

[917783 rows x 3 columns]

In [5]:
from collections import Counter

def most_frequent_region(lst):
    if not lst:
        return None  # Return None for empty lists
    
    count = Counter(lst)
    most_common = count.most_common()
    
    # Check if there's a single most frequent region
    if len(most_common) > 1 and most_common[0][1] == most_common[1][1]:
        return 'International'
    return most_common[0][0]


def decide_region(df):
    for i in range(df.shape[0]):
        region_list = df.at[i, 'region_list']  # Access the region_list
        
        if len(region_list) == 1:
            df.at[i, 'region_list'] = df.at[i, 'region_list'][0]
        else:
            df.at[i, 'region_list'] = most_frequent_region(region_list)
    return(df)
titles_with_region = decide_region(merged_list)

In [6]:
import pycountry
# Mapping country codes to country names
country_names = {code: pycountry.countries.get(alpha_2=code).name for code in titles_with_region['region_list'].unique() if code in [country.alpha_2 for country in pycountry.countries]}

def get_country_name(region_code):
    try:
        return pycountry.countries.get(alpha_2=region_code).name
    except (AttributeError, LookupError):
        return 'International'

# Apply the function to create a new column 'country_name'
titles_with_region['country_name'] = titles_with_region['region_list'].apply(get_country_name)

print(titles_with_region)

          titleId                   title    region_list    country_name
0       tt0000001              Carmencita  International   International
1       tt0000002  Le clown et ses chiens             FR          France
2       tt0000003          Pauvre Pierrot             FR          France
3       tt0000004             Un bon bock             FR          France
4       tt0000005        Blacksmith Scene  International   International
...           ...                     ...            ...             ...
917778  tt9916362                Akelarre             ES           Spain
917779  tt9916380     Meie aasta Aafrikas             EE         Estonia
917780  tt9916538     Kuambil Lagi Hatiku             ID       Indonesia
917781  tt9916544         My Sweet Prince             GB  United Kingdom
917782  tt9916706         Dankyavar Danka             IN           India

[917783 rows x 4 columns]

In [28]:
titles_with_region[titles_with_region['country_name']=='Bahamas']

           titleId                      title region_list country_name
124687   tt0208045             Cheetah Men II          BS      Bahamas
229715   tt0462509  Rob and Amber Get Married          BS      Bahamas
348806   tt0929747       Eleutheran Adventure          BS      Bahamas
354821   tt0965440                       Rain          BS      Bahamas
368010   tt1024842                      Float          BS      Bahamas
422290  tt11981220              Close to Home          BS      Bahamas
423914  tt12038400              Wedding Bells          BS      Bahamas
429251   tt1223140                    Not Gay          BS      Bahamas
438232  tt12551800               Goombay Kids          BS      Bahamas
547668   tt1669850               Wind Jammers          BS      Bahamas
616970   tt2167420            The Black Moses          BS      Bahamas
641270   tt2348380     Mission 10 Documentary          BS      Bahamas
676620  tt27670715           This is Paradise          BS      Bahamas
678668   tt2784368                    Passage          BS      Bahamas
777063   tt4913950                   Almost40          BS      Bahamas

In [39]:

try:
    GDP = pd.read_csv('GDPs.csv', encoding='utf-8')
except UnicodeDecodeError:
    try:
        GDP = pd.read_csv('GDPs.csv', encoding='ISO-8859-1')
    except UnicodeDecodeError:
        GDP = pd.read_csv('GDPs.csv', encoding='latin1', errors='replace')

GDP['GDP(US$million)'] = GDP['GDP(US$million)'].str.replace(',', '').astype(float)

GDP['Rank'] = GDP.index + 1
GDP

    Country/Territory  GDP(US$million)  Rank
0       United States       21427700.0     1
1               China       14342903.0     2
2               Japan        5081770.0     3
3             Germany        3845630.0     4
4               India        2875142.0     5
..                ...              ...   ...
183             Palau            284.0   184
184  Marshall Islands            221.0   185
185          Kiribati            195.0   186
186             Nauru            118.0   187
187            Tuvalu             47.0   188

[188 rows x 3 columns]

In [43]:

titles_with_GDP = titles_with_region.merge(GDP, left_on='country_name', right_on='Country/Territory', how='left')
titles_with_GDP['GDP(US$million)'].fillna('Unknown', inplace=True)
titles_with_GDP['Rank'].fillna('Unknown', inplace=True)

titles_with_GDP = titles_with_GDP.drop(columns=['Country/Territory'])
titles_with_GDP

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\2448556542.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titles_with_GDP['GDP(US$million)'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\2448556542.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  titles_with_GDP['GDP(US$million)'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\2448556542.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titles_with_GDP['Rank'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\2448556542.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  titles_with_GDP['Rank'].fillna('Unknown', inplace=True)

,titleId,title,region_list,country_name,GDP(US$million),Rank
0,tt0000001,Carmencita,International,International,Unknown,Unknown
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0
4,tt0000005,Blacksmith Scene,International,International,Unknown,Unknown
...,...,...,...,...,...,...
917778,tt9916362,Akelarre,ES,Spain,1394116.0,13.0
917779,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0
917780,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0
917781,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0
917782,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0

KeyboardInterrupt:

In [51]:
combined_with_ratings = pd.merge(titles_with_GDP, ratings, on='titleId')
combined_with_ratings = pd.merge(combined_with_ratings, crew, on = 'titleId')
combined_with_ratings

,titleId,title,region_list,country_name,GDP(US$million),Rank,averageRating,numVotes,directors
0,tt0000001,Carmencita,International,International,Unknown,Unknown,5.7,2059,nm0005690
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0,5.6,278,nm0721526
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0,6.5,2028,nm0721526
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0,5.4,179,nm0721526
4,tt0000005,Blacksmith Scene,International,International,Unknown,Unknown,6.2,2793,nm0005690
...,...,...,...,...,...,...,...,...,...
912980,tt9916362,Akelarre,ES,Spain,1394116.0,13.0,6.4,5840,nm1893148
912981,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0,8.2,119,nm1857733
912982,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0,8.3,9,nm4457074
912983,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0,6.7,72,nm3219235
912984,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0,7.6,5,nm7764440