In [1]:
import pandas as pd
title = pd.read_csv('title.akas.tsv', sep='\t')
crew = pd.read_csv('title.crew.tsv', sep='\t')
ratings = pd.read_csv('title.ratings.tsv', sep='\t')
basics = pd.read_csv('title.basics.tsv', sep='\t')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\1297374068.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('title.basics.tsv', sep='\t')

In [47]:

crew = crew.rename(columns={'tconst': 'titleId'})
crew

            titleId            directors
0         tt0000001            nm0005690
1         tt0000002            nm0721526
2         tt0000003            nm0721526
3         tt0000004            nm0721526
4         tt0000005            nm0005690
...             ...                  ...
10237471  tt9916848            nm1485677
10237472  tt9916850            nm1485677
10237473  tt9916852            nm1485677
10237474  tt9916856           nm10538645
10237475  tt9916880  nm0584014,nm0996406

[10237476 rows x 2 columns]

In [48]:
ratings = ratings.rename(columns={'tconst': 'titleId'})
ratings

           titleId  averageRating  numVotes
0        tt0000001            5.7      2059
1        tt0000002            5.6       278
2        tt0000003            6.5      2028
3        tt0000004            5.4       179
4        tt0000005            6.2      2793
...            ...            ...       ...
1450930  tt9916730            7.0        12
1450931  tt9916766            7.1        23
1450932  tt9916778            7.2        37
1450933  tt9916840            7.2        10
1450934  tt9916880            8.6         8

[1450935 rows x 3 columns]

In [ ]:
## originals = title[title['isOriginalTitle']==1]
set(originals['region'])
#Chcemy znalezc originaltitle = 1, a następnie znaleźć kolejny wiersz o tym samym tytule co original i wtedy sprawdzić region. Co jeśli nie da się?

In [2]:
#Wyrzucamy te filmy, które nie zostały w ogóle ocenione
rated_titles = title[title['titleId'].isin(ratings['tconst'])]
rated_titles_1 = rated_titles[rated_titles['isOriginalTitle'] == 1]
rated_titles_0 = rated_titles[rated_titles['isOriginalTitle'] == 0]

In [3]:
merged = pd.merge(rated_titles_1.loc[:, rated_titles_1.columns != 'region'],rated_titles_0[['title','titleId','region']],'inner',on = ['title','titleId'])
merged.groupby('title')['region'].apply(list)

title
#                                  [US, US, US, BR]
# My Ass                                       [US]
#1                             [US, US, US, US, BE]
#1 Beauty Nail Salon                           [US]
#1 Cheerleader Camp                        [AU, US]
                                       ...
êmîcêtôsêt: Many Bloodlines                    [CA]
ôkamiotoko kurîmu                              [JP]
ôotoko ga deta zo                              [JP]
ôrumaiti pasu                                  [JP]
ö                                              [FI]
Name: region, Length: 753986, dtype: object

In [4]:
merged_list = merged.groupby(['titleId','title'])['region'].apply(list).reset_index(name='region_list')
merged_list

          titleId                   title       region_list
0       tt0000001              Carmencita          [DE, US]
1       tt0000002  Le clown et ses chiens              [FR]
2       tt0000003          Pauvre Pierrot              [FR]
3       tt0000004             Un bon bock              [FR]
4       tt0000005        Blacksmith Scene          [CA, US]
...           ...                     ...               ...
917778  tt9916362                Akelarre  [MX, AR, ES, ES]
917779  tt9916380     Meie aasta Aafrikas              [EE]
917780  tt9916538     Kuambil Lagi Hatiku              [ID]
917781  tt9916544         My Sweet Prince              [GB]
917782  tt9916706         Dankyavar Danka              [IN]

[917783 rows x 3 columns]

In [5]:
from collections import Counter

def most_frequent_region(lst):
    if not lst:
        return None  # Return None for empty lists
    
    count = Counter(lst)
    most_common = count.most_common()
    
    # Check if there's a single most frequent region
    if len(most_common) > 1 and most_common[0][1] == most_common[1][1]:
        return 'International'
    return most_common[0][0]


def decide_region(df):
    for i in range(df.shape[0]):
        region_list = df.at[i, 'region_list']  # Access the region_list
        
        if len(region_list) == 1:
            df.at[i, 'region_list'] = df.at[i, 'region_list'][0]
        else:
            df.at[i, 'region_list'] = most_frequent_region(region_list)
    return(df)
titles_with_region = decide_region(merged_list)

In [6]:
import pycountry
# Mapping country codes to country names
country_names = {code: pycountry.countries.get(alpha_2=code).name for code in titles_with_region['region_list'].unique() if code in [country.alpha_2 for country in pycountry.countries]}

def get_country_name(region_code):
    try:
        return pycountry.countries.get(alpha_2=region_code).name
    except (AttributeError, LookupError):
        return 'International'

# Apply the function to create a new column 'country_name'
titles_with_region['country_name'] = titles_with_region['region_list'].apply(get_country_name)

print(titles_with_region)

          titleId                   title    region_list    country_name
0       tt0000001              Carmencita  International   International
1       tt0000002  Le clown et ses chiens             FR          France
2       tt0000003          Pauvre Pierrot             FR          France
3       tt0000004             Un bon bock             FR          France
4       tt0000005        Blacksmith Scene  International   International
...           ...                     ...            ...             ...
917778  tt9916362                Akelarre             ES           Spain
917779  tt9916380     Meie aasta Aafrikas             EE         Estonia
917780  tt9916538     Kuambil Lagi Hatiku             ID       Indonesia
917781  tt9916544         My Sweet Prince             GB  United Kingdom
917782  tt9916706         Dankyavar Danka             IN           India

[917783 rows x 4 columns]

In [28]:
titles_with_region[titles_with_region['country_name']=='Bahamas']

           titleId                      title region_list country_name
124687   tt0208045             Cheetah Men II          BS      Bahamas
229715   tt0462509  Rob and Amber Get Married          BS      Bahamas
348806   tt0929747       Eleutheran Adventure          BS      Bahamas
354821   tt0965440                       Rain          BS      Bahamas
368010   tt1024842                      Float          BS      Bahamas
422290  tt11981220              Close to Home          BS      Bahamas
423914  tt12038400              Wedding Bells          BS      Bahamas
429251   tt1223140                    Not Gay          BS      Bahamas
438232  tt12551800               Goombay Kids          BS      Bahamas
547668   tt1669850               Wind Jammers          BS      Bahamas
616970   tt2167420            The Black Moses          BS      Bahamas
641270   tt2348380     Mission 10 Documentary          BS      Bahamas
676620  tt27670715           This is Paradise          BS      Bahamas
678668   tt2784368                    Passage          BS      Bahamas
777063   tt4913950                   Almost40          BS      Bahamas

In [75]:

try:
    GDP = pd.read_csv('GDPs.csv', encoding='utf-8')
except UnicodeDecodeError:
    try:
        GDP = pd.read_csv('GDPs.csv', encoding='ISO-8859-1')
    except UnicodeDecodeError:
        GDP = pd.read_csv('GDPs.csv', encoding='latin1', errors='replace')

GDP['GDP(US$million)'] = GDP['GDP(US$million)'].str.replace(',', '').astype(float)

GDP['rank_gdp'] = GDP.index + 1
GDP

    Country/Territory  GDP(US$million) Rank  rank_gdp
0       United States       21427700.0    1         1
1               China       14342903.0    2         2
2               Japan        5081770.0    3         3
3             Germany        3845630.0    4         4
4               India        2875142.0    5         5
..                ...              ...  ...       ...
183             Palau            284.0  181       184
184  Marshall Islands            221.0  182       185
185          Kiribati            195.0  183       186
186             Nauru            118.0  184       187
187            Tuvalu             47.0  185       188

[188 rows x 4 columns]

In [91]:

titles_with_GDP = titles_with_region.merge(GDP, left_on='country_name', right_on='Country/Territory', how='left')
titles_with_GDP['GDP(US$million)'].fillna('Unknown', inplace=True)
titles_with_GDP['rank_gdp'].fillna(100, inplace=True)

titles_with_GDP = titles_with_GDP.drop(columns=['Country/Territory','Rank'])
titles_with_GDP

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\1398517917.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titles_with_GDP['GDP(US$million)'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\1398517917.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  titles_with_GDP['GDP(US$million)'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9068\1398517917.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titles_with_GDP['rank_gdp'].fillna(100, inplace=True)

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp
0,tt0000001,Carmencita,International,International,Unknown,100.0
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0
4,tt0000005,Blacksmith Scene,International,International,Unknown,100.0
...,...,...,...,...,...,...
917778,tt9916362,Akelarre,ES,Spain,1394116.0,13.0
917779,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0
917780,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0
917781,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0
917782,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0

In [86]:

titles_with_GDP['rank_gdp'].unique()

array([100.,   7.,   1.,   4.,   6.,  49.,  13.,  24.,  28.,  57.,  39.,
        14.,   8.,  47.,  31.,  25.,  17.,  10.,   3.,  26.,  15.,  32.,
         5., 118.,  20.,  61.,  43., 101.,   9.,   2.,  45.,  52.,  21.,
        58.,  41.,  80.,  89.,  16.,  33.,  64.,  38.,  35.,  50.,  53.,
        34.,  23.,  27., 110.,  63.,  36.,  92.,  87.,  69., 134., 123.,
        56.,  51.,  30.,  83.,  75.,  95., 103., 120.,  42., 148., 114.,
       127., 107.,  96.,  65., 119.,  86., 156.,  67.,  98.,  68., 106.,
        79., 124., 108.,  37., 122.,  91.,  44.,  84., 131.,  40., 174.,
        60.,  73.,  55.,  94.,  78., 145., 112., 130., 113., 136.,  71.,
        90.,  76.,  59., 144., 143., 137., 172., 109.,  82., 163., 125.,
       162., 135., 132., 152., 105., 159.,  74., 102., 104., 121., 128.,
        97., 142.,  66., 166., 169.,  18., 140.,  70.,  54., 116., 167.,
        99., 153.,  88., 151.,  72., 165., 149., 158., 176., 141., 183.,
       115., 129., 161., 185., 150., 181., 157., 111., 173., 147., 160.,
       154., 175., 178., 168., 177., 179., 155., 171., 184., 187., 164.,
       182., 180., 170.])

In [92]:
combined_with_ratings = pd.merge(titles_with_GDP, ratings, on='titleId')
combined_with_ratings = pd.merge(combined_with_ratings, crew, on = 'titleId')
combined_with_ratings

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors
0,tt0000001,Carmencita,International,International,Unknown,100.0,5.7,2059,nm0005690
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0,5.6,278,nm0721526
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0,6.5,2028,nm0721526
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0,5.4,179,nm0721526
4,tt0000005,Blacksmith Scene,International,International,Unknown,100.0,6.2,2793,nm0005690
...,...,...,...,...,...,...,...,...,...
912980,tt9916362,Akelarre,ES,Spain,1394116.0,13.0,6.4,5840,nm1893148
912981,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0,8.2,119,nm1857733
912982,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0,8.3,9,nm4457074
912983,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0,6.7,72,nm3219235
912984,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0,7.6,5,nm7764440

In [93]:
#Task 1 - quality of movies. Analyse the quality of movies by country. Create the order of countries for the representation
#set of the size of 10, 20, ..., 200 best films. (dla kazdego kraju znajdz top iles filmow
#What are the top 10 countries for each set? Do you observe any trends?

# Ile filmów dany kraj wyprodukował? Też posortować, rating filmu = avg_rating * rank_gdp * rank_no_of_movies * CDF(no_of_votes)
sorted_votes = combined_with_ratings.sort_values(by = 'numVotes')
combined_with_ratings['CDF_votes'] = sorted_votes['numVotes'].rank(method='average', pct=True)
combined_with_ratings

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes
0,tt0000001,Carmencita,International,International,Unknown,100.0,5.7,2059,nm0005690,0.946369
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0,5.6,278,nm0721526,0.811674
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0,6.5,2028,nm0721526,0.945771
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0,5.4,179,nm0721526,0.763482
4,tt0000005,Blacksmith Scene,International,International,Unknown,100.0,6.2,2793,nm0005690,0.956933
...,...,...,...,...,...,...,...,...,...,...
912980,tt9916362,Akelarre,ES,Spain,1394116.0,13.0,6.4,5840,nm1893148,0.976024
912981,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0,8.2,119,nm1857733,0.708184
912982,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0,8.3,9,nm4457074,0.128415
912983,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0,6.7,72,nm3219235,0.628877
912984,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0,7.6,5,nm7764440,0.008759

In [94]:
country_movie_count = sorted_votes['country_name'].value_counts().reset_index()
country_movie_count.columns = ['country_name', 'movie_count']
country_movie_count['rank_movie_count'] = country_movie_count['movie_count'].rank(ascending=False, method='min').astype(int)
combined_with_ratings =  combined_with_ratings.merge(country_movie_count, left_on='country_name', right_on='country_name', how='left')
combined_with_ratings

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes,movie_count,rank_movie_count
0,tt0000001,Carmencita,International,International,Unknown,100.0,5.7,2059,nm0005690,0.946369,177233,2
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0,5.6,278,nm0721526,0.811674,29620,7
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0,6.5,2028,nm0721526,0.945771,29620,7
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0,5.4,179,nm0721526,0.763482,29620,7
4,tt0000005,Blacksmith Scene,International,International,Unknown,100.0,6.2,2793,nm0005690,0.956933,177233,2
...,...,...,...,...,...,...,...,...,...,...,...,...
912980,tt9916362,Akelarre,ES,Spain,1394116.0,13.0,6.4,5840,nm1893148,0.976024,13147,11
912981,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0,8.2,119,nm1857733,0.708184,617,54
912982,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0,8.3,9,nm4457074,0.128415,1864,36
912983,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0,6.7,72,nm3219235,0.628877,71256,3
912984,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0,7.6,5,nm7764440,0.008759,37578,5

In [118]:
# Ile filmów dany kraj wyprodukował? Też posortować, Rating = avg_rating * rank_gdp * rank_no_of_movies * CDF
import numpy as np
test123 = combined_with_ratings
max_gdp_rank = combined_with_ratings['rank_gdp'].max()
max_movies_rank = combined_with_ratings['rank_movie_count'].max()
test123['Weighted_rating'] = combined_with_ratings['averageRating']**2* np.log(1+combined_with_ratings['rank_gdp'])* np.log(1+combined_with_ratings['rank_movie_count'])*combined_with_ratings['CDF_votes']
test123

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes,movie_count,rank_movie_count,Weighted_rating
0,tt0000001,Carmencita,International,International,Unknown,100.0,5.7,2059,nm0005690,0.946369,177233,2,155.896949
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0,5.6,278,nm0721526,0.811674,29620,7,110.065449
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0,6.5,2028,nm0721526,0.945771,29620,7,172.784993
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0,5.4,179,nm0721526,0.763482,29620,7,96.267498
4,tt0000005,Blacksmith Scene,International,International,Unknown,100.0,6.2,2793,nm0005690,0.956933,177233,2,186.505834
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912980,tt9916362,Akelarre,ES,Spain,1394116.0,13.0,6.4,5840,nm1893148,0.976024,13147,11,262.167866
912981,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0,8.2,119,nm1857733,0.708184,617,54,882.548417
912982,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0,8.3,9,nm4457074,0.128415,1864,36,90.504245
912983,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0,6.7,72,nm3219235,0.628877,71256,3,76.154111
912984,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0,7.6,5,nm7764440,0.008759,37578,5,1.624138

In [119]:
test123.sort_values(by = 'Weighted_rating', ascending = False)

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes,movie_count,rank_movie_count,Weighted_rating
352110,tt0955705,Eternal Enemies: Lions and Hyenas,BW,Botswana,18341.0,116.0,9.2,235,\N,0.794000,5,164,1634.095859
876582,tt8223802,A DAY IN THE LIFE OF TYLER1,JM,Jamaica,16458.0,121.0,9.4,245,nm9742524,0.798484,30,119,1622.686479
780394,tt5123416,Born Warriors Redux: Bound Fists,MM,Myanmar,76086.0,72.0,9.4,747,nm0320367,0.894510,33,115,1612.005797
704502,tt31639308,Interview with Grace Rady on LBC,LB,Lebanon,53367.0,87.0,9.6,1652,\N,0.937426,364,62,1602.611834
647520,tt24228604,OdBita Pot,SI,Slovenia,53742.0,86.0,9.8,839,nm7689797,0.901805,556,55,1556.963519
...,...,...,...,...,...,...,...,...,...,...,...,...,...
899434,tt9185750,From the River,US,United States,21427700.0,1.0,1.2,5,nm4551964,0.008759,320363,1,0.006060
575117,tt1869494,Interviews Gone Wrong,US,United States,21427700.0,1.0,1.0,5,"nm0997145,nm0997146",0.008759,320363,1,0.004208
754099,tt4345906,Carbon Sage,US,United States,21427700.0,1.0,1.0,5,nm7047141,0.008759,320363,1,0.004208
861627,tt7634626,Shift,US,United States,21427700.0,1.0,1.0,5,nm4551964,0.008759,320363,1,0.004208
682508,tt28612732,Clocktower,US,United States,21427700.0,1.0,1.0,5,"nm13372451,nm15126872",0.008759,320363,1,0.004208

In [130]:
test123[test123['country_name']=='Georgia'].sort_values(by = 'Weighted_rating')

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes,movie_count,rank_movie_count,Weighted_rating
707736,tt32135891,Forced Migration of Butterflies,GE,Georgia,17743.0,118.0,6.6,5,nm0246159,0.008759,279,71,7.797902
449362,tt12996356,My Friend Andro,GE,Georgia,17743.0,118.0,6.6,5,nm8391548,0.008759,279,71,7.797902
548516,tt16915220,Duck Hunting,GE,Georgia,17743.0,118.0,7.6,5,nm4346248,0.008759,279,71,10.339918
158547,tt0287943,"Bravo, Giordano Bruno",GE,Georgia,17743.0,118.0,7.8,5,nm1006708,0.008759,279,71,10.891285
413785,tt11747682,Didi shesveneba,GE,Georgia,17743.0,118.0,7.8,5,nm3491887,0.008759,279,71,10.891285
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655150,tt2551618,"Manqana, romelic kvelafers gaaqrobs",GE,Georgia,17743.0,118.0,8.1,697,nm5389850,0.889853,279,71,1193.278099
398684,tt11238614,The Giorgi Lemonjava Show,GE,Georgia,17743.0,118.0,9.3,107,\N,0.692132,279,71,1223.513249
74936,tt0108429,Udzinarta mze,GE,Georgia,17743.0,118.0,8.4,1651,nm0045024,0.937392,279,71,1351.865539
845237,tt7016518,8 Minutes,GE,Georgia,17743.0,118.0,8.8,683,nm9064605,0.888493,279,71,1406.284114
787167,tt5289208,Kerchi: Dakarguli Gmirebi,GE,Georgia,17743.0,118.0,9.2,807,nm4310672,0.899358,279,71,1555.829235

In [144]:
country_top_5 = test123.sort_values(by=['country_name', 'Weighted_rating'], ascending=[True, False])

# Group by 'country_name' and get the top 5 movies in each group
top5_per_country = country_top_5.groupby('country_name').head(250)

# Sum the 'Weighted_rating' for the top 5 movies in each country
country_top5_sum = top5_per_country.groupby('country_name')['Weighted_rating'].sum().reset_index()

# Rename the columns for clarity
country_top5_sum.columns = ['country_name', 'sum_top5_Weighted_rating']

country_top5_sum.sort_values(by = 'sum_top5_Weighted_rating',ascending = False)[0:50]

                          country_name  sum_top5_Weighted_rating
57                             Ecuador             214183.577947
201                            Türkiye             211333.922061
107                 Korea, Republic of             204304.767740
95           Iran, Islamic Republic of             177895.146746
174                             Serbia             169420.858091
90                             Hungary             164741.294061
162                            Romania             163492.007953
91                             Iceland             163151.119161
51                             Czechia             161468.785289
163                 Russian Federation             160620.887091
141                        New Zealand             159022.359746
16                          Bangladesh             158919.117464
47                             Croatia             157018.549745
58                               Egypt             149632.077067
62                             Estonia             149432.745646
159                           Portugal             143897.666077
67                             Finland             141341.637861
97                             Ireland             140284.579157
53                             Denmark             135354.430822
157                        Philippines             135154.211678
77                              Greece             132861.138468
148                             Norway             129245.644460
99                              Israel             128238.613535
150                           Pakistan             126626.537974
190          Taiwan, Province of China             125591.892433
182                       South Africa             125281.696727
89                           Hong Kong             125242.286562
41                            Colombia             124665.517699
179                           Slovenia             122817.783955
25              Bosnia and Herzegovina             121759.840552
73                             Georgia             121725.528343
193                           Thailand             121324.889624
117                          Lithuania             119753.105905
187                             Sweden             118861.510246
39                               Chile             118370.229628
158                             Poland             117241.958474
19                             Belgium             116877.435980
8                            Argentina             115964.436496
184                          Sri Lanka             115577.370506
93                           Indonesia             113415.216976
12                             Austria             108026.247106
112                            Lebanon             106474.901880
138                              Nepal             105953.729154
203                            Ukraine             105631.001437
11                           Australia             105106.781197
94                       International             104120.590986
210  Venezuela, Bolivarian Republic of             103234.079366
122                           Malaysia              99888.761070
188                        Switzerland              97954.079583
139                        Netherlands              97487.057651