In [1]:
import pandas as pd
title = pd.read_csv('title.akas.tsv', sep='\t')
crew = pd.read_csv('title.crew.tsv', sep='\t')
ratings = pd.read_csv('title.ratings.tsv', sep='\t')
basics = pd.read_csv('title.basics.tsv', sep='\t')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5024\1297374068.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('title.basics.tsv', sep='\t')

In [5]:
crew = crew.rename(columns={'tconst': 'titleId'})
crew= crew.drop('writers', axis = 1)
crew

            titleId            directors
0         tt0000001            nm0005690
1         tt0000002            nm0721526
2         tt0000003            nm0721526
3         tt0000004            nm0721526
4         tt0000005            nm0005690
...             ...                  ...
10237471  tt9916848            nm1485677
10237472  tt9916850            nm1485677
10237473  tt9916852            nm1485677
10237474  tt9916856           nm10538645
10237475  tt9916880  nm0584014,nm0996406

[10237476 rows x 2 columns]

In [15]:
def find_movie_regions(title,ratings):
    ratings = ratings.rename(columns={'tconst': 'titleId'})
    rated_titles = title[title['titleId'].isin(ratings['titleId'])]
    rated_titles_1 = rated_titles[rated_titles['isOriginalTitle'] == 1]
    rated_titles_0 = rated_titles[rated_titles['isOriginalTitle'] == 0]
    merged = pd.merge(rated_titles_1.loc[:, rated_titles_1.columns != 'region'],rated_titles_0[['title','titleId','region']],'inner',on = ['title','titleId'])
    merged_list = merged.groupby(['titleId','title'])['region'].apply(list).reset_index(name='region_list')
    return(merged_list)
############
titles_with_region = find_movie_regions(title,ratings)

In [16]:
from collections import Counter

def most_frequent_region(lst):
    if not lst:
        return None  # Return None for empty lists
    
    count = Counter(lst)
    most_common = count.most_common()
    
    # Check if there's a single most frequent region
    if len(most_common) > 1 and most_common[0][1] == most_common[1][1]:
        return 'International'
    return most_common[0][0]


def decide_region(df):
    for i in range(df.shape[0]):
        region_list = df.at[i, 'region_list']  # Access the region_list
        
        if len(region_list) == 1:
            df.at[i, 'region_list'] = df.at[i, 'region_list'][0]
        else:
            df.at[i, 'region_list'] = most_frequent_region(region_list)
    return(df)
############
titles_with_region = decide_region(merged_list)
titles_with_region

          titleId                   title    region_list
0       tt0000001              Carmencita  International
1       tt0000002  Le clown et ses chiens             FR
2       tt0000003          Pauvre Pierrot             FR
3       tt0000004             Un bon bock             FR
4       tt0000005        Blacksmith Scene  International
...           ...                     ...            ...
917778  tt9916362                Akelarre             ES
917779  tt9916380     Meie aasta Aafrikas             EE
917780  tt9916538     Kuambil Lagi Hatiku             ID
917781  tt9916544         My Sweet Prince             GB
917782  tt9916706         Dankyavar Danka             IN

[917783 rows x 3 columns]

In [17]:
import pycountry
# Mapping country codes to country names
country_names = {code: pycountry.countries.get(alpha_2=code).name for code in titles_with_region['region_list'].unique() if code in [country.alpha_2 for country in pycountry.countries]}

def get_country_name(region_code):
    try:
        return pycountry.countries.get(alpha_2=region_code).name
    except (AttributeError, LookupError):
        return 'International'

titles_with_region['country_name'] = titles_with_region['region_list'].apply(get_country_name)

titles_with_region

          titleId                   title    region_list    country_name
0       tt0000001              Carmencita  International   International
1       tt0000002  Le clown et ses chiens             FR          France
2       tt0000003          Pauvre Pierrot             FR          France
3       tt0000004             Un bon bock             FR          France
4       tt0000005        Blacksmith Scene  International   International
...           ...                     ...            ...             ...
917778  tt9916362                Akelarre             ES           Spain
917779  tt9916380     Meie aasta Aafrikas             EE         Estonia
917780  tt9916538     Kuambil Lagi Hatiku             ID       Indonesia
917781  tt9916544         My Sweet Prince             GB  United Kingdom
917782  tt9916706         Dankyavar Danka             IN           India

[917783 rows x 4 columns]

In [57]:
def add_GDP_with_rank(GDPs_file):
    try:
        GDP = pd.read_csv(GDPs_file, encoding='utf-8')
    except UnicodeDecodeError:
        try:
            GDP = pd.read_csv(GDPs_file, encoding='ISO-8859-1')
        except UnicodeDecodeError:
            GDP = pd.read_csv(GDPs_file, encoding='latin1', errors='replace')
    
    GDP['GDP(US$million)'] = GDP['GDP(US$million)'].str.replace(',', '').astype(float)
    
    GDP['rank_gdp'] = GDP.index + 1
    GDP = GDP.drop(columns=['Rank'])
    return(GDP)
    
import pypopulation
#pypopulation.get_population('MM')
def get_population(region_code):
    try:
        population = pypopulation.get_population(region_code)
        return population if population is not None else 'Unknown'
    except Exception as e:
        return 'Unknown'

def GDP_per_capita(df):
    df['GDP/Population'] = df.apply(
        lambda row: row['GDP(US$million)'] / row['Population'] 
        if row['GDP(US$million)'] != 'Unknown' and row['Population'] != 'Unknown'
        else 'Unknown', axis=1)
    return(df)
def add_votes_CDF(df):
    sorted_votes = df.sort_values(by = 'numVotes')
    df['CDF_votes'] = sorted_votes['numVotes'].rank(method='average', pct=True)
    return(df)

def add_population_rank(df):
    # Replace 'Unknown' with NaN to handle them properly
    df['Population'] = df['Population'].replace('Unknown', pd.NA)
    
    # Convert the column to numeric, keeping NaNs
    df['Population'] = pd.to_numeric(df['Population'], errors='coerce')
    
    # Rank the population in descending order (largest population gets rank 1)
    df['Population_rank'] = df['Population'].rank(method='dense', ascending=False).astype('Int64')
    
    # Assign rank 100 to 'Unknown' populations
    df['Population_rank'] = df['Population_rank'].fillna(30).astype(int)
    
    # Replace NaNs back with 'Unknown'
    df['Population'] = df['Population'].fillna('Unknown')
    
    return df
    
def add_GDPperCapita_rank(df):
    # Replace 'Unknown' with NaN to handle them properly
    df['GDP/Population'] = df['GDP/Population'].replace('Unknown', pd.NA)
    
    # Convert the column to numeric, keeping NaNs
    df['GDP/Population'] = pd.to_numeric(df['GDP/Population'], errors='coerce')
    
    # Rank the GDP/Population in descending order (largest GDP/Population gets rank 1)
    df['GDP_per_Capita_rank'] = df['GDP/Population'].rank(method='dense', ascending=False).astype('Int64')
    
    # Assign rank 100 to 'Unknown' GDP/Population
    df['GDP_per_Capita_rank'] = df['GDP_per_Capita_rank'].fillna(30).astype(int)
    
    # Replace NaNs back with 'Unknown'
    df['GDP/Population'] = df['GDP/Population'].fillna('Unknown')
    
    return df

def add_movie_count_per_country_rank(df):
    sorted_votes = df.sort_values(by = 'numVotes')
    country_movie_count = sorted_votes['country_name'].value_counts().reset_index()
    country_movie_count.columns = ['country_name', 'movie_count']
    country_movie_count['rank_movie_count'] = country_movie_count['movie_count'].rank(ascending=False, method='min').astype(int)
    df = df.merge(country_movie_count, left_on='country_name', right_on='country_name', how='left')
    return(df)

GDP = add_GDP_with_rank('GDPs.csv')
Ratings_df = titles_with_region.merge(GDP, left_on='country_name', right_on='Country/Territory', how='left')
Ratings_df['GDP(US$million)'].fillna('Unknown', inplace=True)
Ratings_df['rank_gdp'].fillna(30, inplace=True)
Ratings_df = pd.merge(Ratings_df, ratings, on='titleId')
Ratings_df = pd.merge(Ratings_df, crew, on = 'titleId')
Ratings_df = Ratings_df.drop(columns=['Country/Territory'])
Ratings_df = add_votes_CDF(Ratings_df)
Ratings_df['Population'] = Ratings_df['region_list'].apply(get_population)
Ratings_df = GDP_per_capita(Ratings_df)
Ratings_df = add_population_rank(Ratings_df)
Ratings_df = add_GDPperCapita_rank(Ratings_df)
Ratings_df = add_movie_count_per_country_rank(Ratings_df)
Ratings_df

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5024\4020122051.py:82: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Ratings_df['GDP(US$million)'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5024\4020122051.py:82: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  Ratings_df['GDP(US$million)'].fillna('Unknown', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5024\4020122051.py:83: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Ratings_df['rank_gdp'].fillna(30, inplace=True)

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes,Population,GDP/Population,Population_rank,GDP_per_Capita_rank,movie_count,rank_movie_count
0,tt0000001,Carmencita,International,International,Unknown,30.0,5.7,2059,nm0005690,0.946369,Unknown,Unknown,30,30,177233,2
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0,5.6,278,nm0721526,0.811674,67059887.0,0.040494,21,25,29620,7
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0,6.5,2028,nm0721526,0.945771,67059887.0,0.040494,21,25,29620,7
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0,5.4,179,nm0721526,0.763482,67059887.0,0.040494,21,25,29620,7
4,tt0000005,Blacksmith Scene,International,International,Unknown,30.0,6.2,2793,nm0005690,0.956933,Unknown,Unknown,30,30,177233,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912980,tt9916362,Akelarre,ES,Spain,1394116.0,13.0,6.4,5840,nm1893148,0.976024,47076781.0,0.029614,30,31,13147,11
912981,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0,8.2,119,nm1857733,0.708184,1326590.0,0.02366,152,34,617,54
912982,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0,8.3,9,nm4457074,0.128415,270625568.0,0.004136,4,106,1864,36
912983,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0,6.7,72,nm3219235,0.628877,66834405.0,0.0423,22,22,71256,3
912984,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0,7.6,5,nm7764440,0.008759,1366417754.0,0.002104,2,126,37578,5

In [ ]:
#Task 1 here

In [161]:
# Ile filmów dany kraj wyprodukował? Też posortować, Rating = avg_rating * rank_gdp * rank_no_of_movies * CDF
import numpy as np
test123 = combined_with_ratings
max_gdp_rank = combined_with_ratings['rank_gdp'].max()
max_movies_rank = combined_with_ratings['rank_movie_count'].max()
test123['Weighted_rating'] = combined_with_ratings['averageRating']**2* np.log(1+combined_with_ratings['rank_gdp'])* np.log(1+combined_with_ratings['rank_movie_count'])*combined_with_ratings['CDF_votes']
test123

,titleId,title,region_list,country_name,GDP(US$million),rank_gdp,averageRating,numVotes,directors,CDF_votes,movie_count,rank_movie_count,Weighted_rating
0,tt0000001,Carmencita,International,International,Unknown,100.0,5.7,2059,nm0005690,0.946369,177233,2,155.896949
1,tt0000002,Le clown et ses chiens,FR,France,2715518.0,7.0,5.6,278,nm0721526,0.811674,29620,7,110.065449
2,tt0000003,Pauvre Pierrot,FR,France,2715518.0,7.0,6.5,2028,nm0721526,0.945771,29620,7,172.784993
3,tt0000004,Un bon bock,FR,France,2715518.0,7.0,5.4,179,nm0721526,0.763482,29620,7,96.267498
4,tt0000005,Blacksmith Scene,International,International,Unknown,100.0,6.2,2793,nm0005690,0.956933,177233,2,186.505834
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912980,tt9916362,Akelarre,ES,Spain,1394116.0,13.0,6.4,5840,nm1893148,0.976024,13147,11,262.167866
912981,tt9916380,Meie aasta Aafrikas,EE,Estonia,31387.0,101.0,8.2,119,nm1857733,0.708184,617,54,882.548417
912982,tt9916538,Kuambil Lagi Hatiku,ID,Indonesia,1119191.0,16.0,8.3,9,nm4457074,0.128415,1864,36,90.504245
912983,tt9916544,My Sweet Prince,GB,United Kingdom,2827113.0,6.0,6.7,72,nm3219235,0.628877,71256,3,76.154111
912984,tt9916706,Dankyavar Danka,IN,India,2875142.0,5.0,7.6,5,nm7764440,0.008759,37578,5,1.624138

In [162]:
country_top_5 = test123.sort_values(by=['country_name', 'Weighted_rating'], ascending=[True, False])

# Group by 'country_name' and get the top 5 movies in each group
top5_per_country = country_top_5.groupby('country_name').head(250)

# Sum the 'Weighted_rating' for the top 5 movies in each country
country_top5_sum = top5_per_country.groupby('country_name')['Weighted_rating'].sum().reset_index()

# Rename the columns for clarity
country_top5_sum.columns = ['country_name', 'sum_top5_Weighted_rating']

country_top5_sum.sort_values(by = 'sum_top5_Weighted_rating',ascending = False)[0:50]

                          country_name  sum_top5_Weighted_rating
57                             Ecuador             214183.577947
201                            Türkiye             211333.922061
107                 Korea, Republic of             204304.767740
95           Iran, Islamic Republic of             177895.146746
174                             Serbia             169420.858091
90                             Hungary             164741.294061
162                            Romania             163492.007953
91                             Iceland             163151.119161
51                             Czechia             161468.785289
163                 Russian Federation             160620.887091
141                        New Zealand             159022.359746
16                          Bangladesh             158919.117464
47                             Croatia             157018.549745
58                               Egypt             149632.077067
62                             Estonia             149432.745646
159                           Portugal             143897.666077
67                             Finland             141341.637861
97                             Ireland             140284.579157
53                             Denmark             135354.430822
157                        Philippines             135154.211678
77                              Greece             132861.138468
148                             Norway             129245.644460
99                              Israel             128238.613535
150                           Pakistan             126626.537974
190          Taiwan, Province of China             125591.892433
182                       South Africa             125281.696727
89                           Hong Kong             125242.286562
41                            Colombia             124665.517699
179                           Slovenia             122817.783955
25              Bosnia and Herzegovina             121759.840552
73                             Georgia             121725.528343
193                           Thailand             121324.889624
117                          Lithuania             119753.105905
187                             Sweden             118861.510246
39                               Chile             118370.229628
158                             Poland             117241.958474
19                             Belgium             116877.435980
8                            Argentina             115964.436496
184                          Sri Lanka             115577.370506
93                           Indonesia             113415.216976
12                             Austria             108026.247106
112                            Lebanon             106474.901880
138                              Nepal             105953.729154
203                            Ukraine             105631.001437
11                           Australia             105106.781197
94                       International             104120.590986
210  Venezuela, Bolivarian Republic of             103234.079366
122                           Malaysia              99888.761070
188                        Switzerland              97954.079583
139                        Netherlands              97487.057651

In [179]:
#Task 1 - top movies based on avg ratings
def rank_top_movies(df, X):
    # Group by 'Country' and sort each group by 'averageRating' descending
    ranked_df = df.sort_values(by='averageRating', ascending=False).groupby('country_name').head(X)
    
    # Calculate average rating for top X movies for each country
    avg_ratings = ranked_df.groupby('country_name')['averageRating'].mean()
    
    # Create DataFrame with results
    result_df = pd.DataFrame({'country_name': avg_ratings.index, f'AvgRating_Top_Movies': avg_ratings.values})
    
    return result_df
rank_top_movies(test123,100).sort_values(by ='AvgRating_Top_Movies',ascending = False)

              country_name  AvgRating_Top_Movies
206          United States                10.000
92                   India                10.000
12                 Austria                 9.984
205         United Kingdom                 9.980
94           International                 9.977
..                     ...                   ...
166  Saint Kitts and Nevis                 4.500
42                 Comoros                 4.300
22                 Bermuda                 3.900
175             Seychelles                 3.600
5                 Anguilla                 3.500

[218 rows x 2 columns]

In [180]:
#Task 2.1 - Weak impact (number of votes)
def most_votes_per_country(df):
    # Group by region_name (assuming it's the country name) and aggregate sum of numVotes
    country_votes = df.groupby('region_list')['numVotes'].sum().reset_index()
    
    # Sort by numVotes descending to get countries with the most votes
    country_votes = country_votes.sort_values(by='numVotes', ascending=False)
    
    return country_votes
most_votes_per_country(test123)

       region_list   numVotes
101  International  690192921
96              IN  466805986
208             US  120844122
33              CA   87619847
71              GB   13102729
..             ...        ...
177             SC          9
9               AQ          8
74              GF          8
49              CW          8
108             KM          8

[234 rows x 2 columns]

In [182]:
#Task 2.2 - Strong impact

test123['Weighted_rating_2'] = test123['averageRating']**2* np.log(10+test123['rank_gdp'])* np.log(10+test123['rank_movie_count'])*test123['CDF_votes'] * np.log(10 + np.log(test123['Population'])) * test123['GDP/Population']**(1/2) 
test123

TypeError: loop of ufunc does not support argument 0 of type str which has no callable log method