In [2]:
import pandas as pd
title = pd.read_csv('title.akas.tsv', sep='\t')
crew = pd.read_csv('title.crew.tsv', sep='\t')
ratings = pd.read_csv('title.ratings.tsv', sep='\t')
basics = pd.read_csv('title.basics.tsv', sep='\t')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_30556\1297374068.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('title.basics.tsv', sep='\t')

In [1]:
crew.drop(columns=['writers'])

NameError: name 'crew' is not defined

In [52]:
basics[int(basics['startYear']) < 1900] #zamienić na inty

TypeError: cannot convert the series to <class 'int'>

In [27]:
title[title["titleId"]=='tt0000001']
#Chcemy znalezc originaltitle = 1, a następnie znaleźć kolejny wiersz o tym samym tytule co original i wtedy sprawdzić region. Co jeśli nie da się?

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
5,tt0000001,6,Карменсита,RU,\N,imdbDisplay,\N,0
6,tt0000001,7,Карменсіта,UA,\N,imdbDisplay,\N,0
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0