In [34]:
import pandas as pd
title = pd.read_csv('title.akas.tsv', sep='\t')
crew = pd.read_csv('title.crew.tsv', sep='\t')
ratings = pd.read_csv('title.ratings.tsv', sep='\t')
basics = pd.read_csv('title.basics.tsv', sep='\t')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_30556\1297374068.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('title.basics.tsv', sep='\t')

In [4]:
crew.drop(columns=['writers'])
crew

,tconst,directors,writers
0,tt0000001,nm0005690,\N
1,tt0000002,nm0721526,\N
2,tt0000003,nm0721526,\N
3,tt0000004,nm0721526,\N
4,tt0000005,nm0005690,\N
...,...,...,...
10237471,tt9916848,nm1485677,"nm9187127,nm1485677,nm9826385,nm9299459,nm1628284"
10237472,tt9916850,nm1485677,"nm9187127,nm1485677,nm9826385,nm1628284"
10237473,tt9916852,nm1485677,"nm9187127,nm1485677,nm9826385,nm9299459,nm1628284"
10237474,tt9916856,nm10538645,nm6951431
10237475,tt9916880,"nm0584014,nm0996406","nm1482639,nm2586970"

In [6]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10889205,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10889206,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10889207,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10889208,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10889209,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [35]:
title[title['isOriginalTitle']==1]

#Chcemy znalezc originaltitle = 1, a następnie znaleźć kolejny wiersz o tym samym tytule co original i wtedy sprawdzić region. Co jeśli nie da się?

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
16,tt0000003,1,Pauvre Pierrot,\N,\N,original,\N,1
25,tt0000004,1,Un bon bock,\N,\N,original,\N,1
33,tt0000005,1,Blacksmith Scene,\N,\N,original,\N,1
...,...,...,...,...,...,...,...,...
48783339,tt9916848,1,Episode #3.17,\N,\N,original,\N,1
48783347,tt9916850,1,Episode #3.19,\N,\N,original,\N,1
48783355,tt9916852,1,Episode #3.20,\N,\N,original,\N,1
48783363,tt9916856,1,The Wind,\N,\N,original,\N,1
48783365,tt9916880,1,Horrid Henry Knows It All,\N,\N,original,\N,1

In [37]:
#Wyrzucamy te filmy, które nie zostały w ogóle ocenione
rated_titles = title[title['titleId'].isin(ratings['tconst'])]
rated_titles

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
48783075,tt9916766,7,エピソード #10.15,JP,ja,\N,\N,0
48783076,tt9916766,8,Episodio #10.15,ES,es,\N,\N,0
48783102,tt9916778,1,Escape,\N,\N,original,\N,1
48783314,tt9916840,1,Horrid Henry's Comic Caper,\N,\N,original,\N,1
48783365,tt9916880,1,Horrid Henry Knows It All,\N,\N,original,\N,1

In [60]:
#chcemy teraz usunąć 'nieoryginały' - dla titleId szukamy z jakiego jest regionu i wrzucamy region do OrigTitle = 1
IDs = title['titleId'].unique()
original_title = title[(title['titleId'] == 'tt0000001') & (title['isOriginalTitle'] == 1)]
original_title

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1

In [66]:
movie = 'tt9916778'
# Filter original title with given movie and IsOriginalTitle == 1
original_title = title[(title['titleId'] == movie) & (title['isOriginalTitle'] == 1)]

if not original_title.empty:
    title_of_movie = original_title['title'].iloc[0]  # Get the title of the movie

    # Check if the region is '\\N' for the original title
    if original_title['region'].iloc[0] == '\\N':
        # Filter again to find the first non-'\N' region for the movie
        non_null_region = title[(title['titleId'] == movie) &
                                (title['title'] == title_of_movie) &
                                (title['region'] != '\\N')]['region']
        
        if not non_null_region.empty:
            original_title_region = non_null_region.iloc[0]
        else:
            original_title_region = '\\N'  # Handle case where no valid region found
    else:
        original_title_region = original_title['region'].iloc[0]

    print(f"Region of the original title '{title_of_movie}' for movie '{movie}' is: {original_title_region}")
else:
    print(f"No original title found for movie '{movie}' and IsOriginalTitle == 1")

Region of the original title 'Escape' for movie 'tt9916778' is: \N